
.page {
  border: 1px solid #999;
  padding: 20px;
  width: 400px;
  /*height: 400px;*/
}
#pages {
  position: absolute;
  left: 20px;
  top: 20px;
  border: 1px solid #999;
  padding: 10px;
  width: 300px;
  /*height: 80%;*/
}
#page {
  position: absolute;
  left: 500px;
  top: 90px;
}
#pagelist {
  padding: 10px;
}
#content {
  padding: 10px;
  margin: 3px;
  margin-bottom: 10px;
  max-height: 200px;
  overflow-y: auto;
}
.content-item-wrapper:hover {
  cursor: pointer;
  cursor: hand;
}
.content-item-wrapper {
  padding: 3px;
}
#contentview {
  border: 1px solid #999;
  padding: 25px;
  margin: 10px;
  width: 90%;
}
.contentview {
}
#specific-content {
  padding: 3px;
  margin-bottom: 10px;
}
.content-snippet {
  margin-left: 10px;
}
#addPage {
  margin: 10px 0 0 190px;
}
#notifications {
  width: 500px;
  z-index: 100;
  margin: 5px auto;
}
