body {
  background-color: #EEE;
}
.prettybox-lg {
  background-color: #FFF;
  border: 1px solid #999;
  border-radius: 6px;
  box-shadow: 1px 1px 9px #333;
}
.prettybox-side {
  border: 1px solid #999;
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0 0 5px #999;
}

.page {
  padding: 30px;
  padding-bottom: 10px;
  width: 600px;
}
#pages {
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 10px;
  width: 300px;
}
#page {
  position: absolute;
  left: 420px;
  top: 20px;
}
#pagelist {
  padding: 10px;
}
#content {
  padding: 10px;
  margin: 3px;
  margin-bottom: 10px;
  max-height: 200px;
  overflow-y: auto;
}
.content-item-wrapper:hover {
  cursor: pointer;
  cursor: hand;
}
.content-item-wrapper {
  padding: 3px;
}
#contentview {
  padding: 35px;
  margin: 10px;
  width: 88%;
}
.contentview {
}
#specific-content {
  padding: 3px;
  margin-bottom: 10px;
}
.content-snippet {
  margin-left: 10px;
}
#addPage {
  margin: 10px 0 0 190px;
}
#notifications {
  width: 500px;
  z-index: 100;
  margin: 5px auto;
  position: absolute;
  left: 33%;
  top: 0px;
  text-align: center;
}
.ace-mouchak {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}
#editor-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  opacity: 0.7;
  display: none;
}
#hud {
}
