{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/editor.css')}}">
  <title> Editing.. | {{ title }} </title>
{% endblock %}

{% block body %}
  <div class="container-fluid" id="container">
    <div id="header">
      <div id="hud">
        <span class="pull-right label label-primary">Howdy! | <a href="{{ url_for('logout')
            }}"><span >Logout</span></a></span>
      </div>
      <div id="notifications"></div>
    </div>
    <div id="content-container"></div>
    <div id="footer"></div>
  </div>
  <div id="editor-overlay"></div>

  <script>
    // initialize editor
    window.M = window.M || {};
    M.MenuURL = function() { return "{{ url_for('insertMenu') }}"; };
    M.FooterURL = function() { return "{{ url_for('insertFooter') }}"; };
    M.HeaderURL = function() { return "{{ url_for('insertHeader') }}"; };
    M.PageURL = function() { return "{{ url_for('insertPage') }}"; };
    M.PluginUploadURL = function() { return "{{ url_for('uploadPlugin') }}"; };
    M.UploadsURL = function() { return "{{ url_for('static', filename='uploads/') }}"; };
    M.site_content = {{ content|tojson|safe }};
    window.onload = function() {
      M.editor.init();
    };
  </script>
{% endblock %}

{% block scripts %}
  <script src="{{url_for('static', filename='js/lib/tinymce/tinymce.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/lib/tinymce/jquery.tinymce.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/lib/ace/ace.js')}}"></script>
  <script src="{{url_for('static', filename='js/mouchak.js')}}"></script>
  <script src="{{url_for('static', filename='js/models.js')}}"></script>
  <script src="{{url_for('static', filename='js/views.js')}}"></script>
  <script src="{{url_for('static', filename='js/editor.js')}}"></script>
{% endblock %}

{% block templates %}

  <!-- Underscore templates -->
  <script type="text/template" id="menu-config-template">
    <div class="page">
      <div class="menu-config">
        <h4> Configure Navigation Menu </h4>

        <div class="row">
          <div class="form-group col-lg-6">
            <div class="input-group">
              <span class="input-group-addon">
                <input id="custom-menu" type="checkbox">
              </span>
              <span class="input-group-addon"><strong>Custom Menu
              </strong></span>
            </div>
            <span class="help-block">
              <small>
                activate to write your own custom menu
              </small>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-lg-12" id="menu-order-wrap">
            <div class="input-group">
              <span class="input-group-addon"> <strong> Menu Order</strong></span>
              <input class="form-control" id="menu-order" type="text"
              placeholder="list,page,slugs,for,menu,order" value="<%= menu_order %>">
            </div>
            <span class="help-block">
              <small>csv list of page slugs to come up in the navigation menu
                in that order
              </small>
            </span>
          </div>
        </div>

        <div class="menu-options" style="display: none;">
          <div class="row">
            <div class="form-group col-lg-6">
              <div class="input-group">
                <span class="input-group-addon"> <strong> Position </strong></span>
                <input class="form-control"  id="pos" type="text" placeholder="[left, top]"
                value="<%= pos %>">
              </div>
            </div>
          </div>
          <div class="row">
            <label><strong> HTML for menu: </strong></label>
            <div class="ace-mouchak" id="menu"><%= M.escapeHtml(menu) %></div>
          </div>
        </div>

      </div>
      <div class="clearfix"></div>
      <div class="row">
        <button id="updateMenu" class="btn btn-primary pull-right update-btn"> Update </button>
      </div>
      <div class="clearfix"></div>
    </div>
  </script>

  <script type="text/template" id="header-config-template">
    <div class="page">
      <div><h4> Write HTML for your header here </h4></div>
      <div id="header-input" class="ace-mouchak">
        <%= M.escapeHtml(header) %>
      </div>
      <div class="row">
        <button id="updateHeader" class="btn btn-primary pull-right update-btn"> Update </button>
      </div>
      <div class="clearfix"></div>
    </div>
  </script>

  <script type="text/template" id="footer-config-template">
    <div class="page">
      <div><h4> Write HTML for your footer here </h4></div>
      <div id="footer-input" class="ace-mouchak">
        <%= M.escapeHtml(footer) %>
      </div>
      <div class="row">
        <button id="updateFooter" class="btn btn-primary pull-right update-btn"> Update </button>
      </div>
      <div class="clearfix"></div>
    </div>
  </script>

  <script type="text/template" id="page-list-template">
  <div id="pagelistview">
    <table class="table table-condensed" >
      <tbody>
        <tr><td> <span class="glyphicon glyphicon-plus"></span></td>
          <td><span class="label label-primary" id="addPage">
              Page</span></td>
          <td> <span class="label label-primary" id="header-config"> Header
            </span>
          </td>
          <td> <span class="label label-primary" id="footer-config"> Footer 
            </span>
          </td>
          <td> <span class="label label-primary" id="menu-config"> Navigation Menu 
            </span>
          </td> 
          <td> <span class="label label-primary" id="uploads">
                Uploads </span> </td> 
            <td><a href="{{ url_for('index') }}" target="_blank"> <span
                  class="label label-primary pull-right" id="logoutbtn">Go to site
            </span></a></td>
           </tr>
         </tbody>
       </table>
      <table class="table table-bordered table-condensed table-hover">
        <tbody>
          <tr class="active"> <th><h4> Page Title </h4></th>
            <th> <h4> Published </h4> </th>
            <th> <h4> Categories </h4> </th>
            <th> <h4> Tags </h4> </th>
            <th> <h4> Delete </h4> </th>
            <tr>
            </tbody>
            <tbody id="pagelist">

              </tbody>
        </div>
  </script>


  <script type="text/template" id="page-list-item-template">
    <tr class="pagename">
      <td><a class="disp" id="<%= id %>" href="javascript:void(0);"><%= title
          %></a></td>
      <td><%= published %> </td>
      <td><%= categories %> </td>
      <td><%= tags %> </td>
      <td><span class="pull-right">
        <a href="javascript:void(0);" class="remove" for="<%= id %>">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
    </span></td>
      <span class="clearfix"></span>
    </tr>
  </script>

  <script type="text/template" id="page-template">
    <div class="page">
      <div class="row">
        <h4 class="col-md-8"> <strong><%= title %></strong> : Page Details </h4>
        <h4>
        <% if (published) { %>
        <input id="publish-status" type="checkbox"  name="" checked='' />Publish
        <% } else { %>
        <input id="publish-status" type="checkbox"  name=""/>Publish
        <% } %>
        </h4>
      </div>
      <hr/>
      <form class="form-horizontal">
        <div class="form-group">
        <!--   <div class="input-group"> -->
        <!--     <span class="input-group-addon"> <strong> Slug </strong></span> -->
        <!--     <input class="form-control"  id="name" type="text" -->
        <!--     placeholder="slug of the page" value="<%= name %>"> -->
        <!--   </div> -->
        <!--   <span class="help-block"> -->
        <!--     <small>The URL part of the page, as it will appear in the URL</small> -->
        <!--   </span> -->
        <!-- </div> -->
        <div class="input-group">
          <span class="input-group-addon"> <strong>Title</strong> </span>
          <input class="form-control"  id="title" type="text" placeholder="title of the page"
                 value="<%= title %>">
        </div>
        <span class="help-block">
          <small>title of the page</small>
        </span>
        <div class="input-group">
          <span class="input-group-addon"> <strong>Categories</strong> </span>
          <input class="form-control"  id="categories" type="text" placeholder="categories of the page"
                 value="<%= categories %>">
        </div>
        <span class="help-block">
          <small>categories of the page</small>
        </span>

        <div class="input-group">
          <span class="input-group-addon"> <strong>Tags</strong> </span>
          <input class="form-control"  id="tags" type="text" placeholder="tags of the page"
                 value="<%= tags %>">
        </div>
        <span class="help-block">
          <small>tags of the page</small>
        </span>


        <div class="form-group">
          <strong> Content </strong>
          <div id="content" class="content well">
            <%= content %>
            <p></p>
            <button class="addContent btn btn-sm btn-primary">Add Content</button>
          </div>
        </div>
        <div class="form-group">
        </div>
        <!--div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"> <strong>Children</strong> </span>
            <input class="form-control"  id="children" type="text" placeholder="csv of child pages"
            value="<%= children %>">
          </div>
          <span class="help-block">
            <small> leave this blank for now</small>
          </span>
        </div-->
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon">
                <input id="showNav" type="checkbox" <%= checked %> >
              </span>
              <input class="form-control" type="text" value="Show Navigation" disabled>
          </div>
          <span class="help-block">
            <small>Show navigation menu in this page? </small>
          </span>
        </div>
        <button id="updatePage" type="submit" class="btn btn-primary pull-right"> Update </button>
        <button id="copyPage" type="submit" class="btn btn-default" data-toggle="tooltip"
          data-placement="bottom" title="Make a copy of this page to use it as template for another page">
            <span class="glyphicon glyphicon-share"></span> Copy page
        </button>
        <div class="clearfix"></div>
      </form>
    </div>
  </script>

  <script type="text/template" id="content-list-template">
    <div class="content-item-wrapper">
      <span class="content-item" id="content-<%= no %>">
        <span class="label label-default"> <%= type %> </span>
        <span class="content-snippet">
          [ <small> <%= title %>  <%= more %> </small> ]
        </span>
      </span>
      <span class="pull-right">
        <a href="javascript:void(0);" class="remove" for="<%=no%>">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </span>
      <span class="clearfix"></span>
    </div>
  </script>

  <script type="text/template" id="content-template">
    <div class="contentview">
      <form class="form-horizontal">
        <div class="row">
          <div class="form-group col-lg-6">
            <label><b>Type</b></label>
            <select class="form-control">
              <% _.each(M.contentTypes, function(type) { %>
                <option><%= type %></option>
                <%  }); %>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-6">
            <div class="input-group">
              <span class="input-group-addon"> <b>Title</b> </span>
              <input class="form-control"  type="text" placeholder="title of the content" value="<%=
              title %>" m-data-target="title">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-6">
            <div class="input-group">
              <span class="input-group-addon"> <strong>Tags</strong> </span>
              <input class="form-control"  type="text" placeholder="csv of tags for this content"
              value="<%= tags %>" m-data-target="tags">
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div id="specific-content"></div>
      </div>
      <div class="row">
        <button class="btn btn-primary" id="done">Done</button>
        <button class="btn btn-default" id="back">Back</button>
        <!--button class="btn btn-primary" id="updateContent">Update</button-->
      </div>
    </div>
  </script>

  <script type="text/template" id="map-template">
    <div class="data">
      <div class="row">
        <div class="form-group col-lg-6">
          <div class="input-group">
            <span class="input-group-addon"><strong>Tile Provider URL</strong></span>
            <input class="form-control" type="text" placeholder="http://{s}.tile.cloudmade.com/<API_KEY>/997/256/{z}/{x}/{y}.png" value="<%= tileLayer %>"
            m-data-target="tileLayer">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-6">
          <div class="input-group">
            <span class="input-group-addon"><strong>Shapefile</strong></span>
            <input class="form-control" type="text" placeholder="" value="<%= shp %>"
            m-data-target="shp">
          </div>
        </div>
      </div>
      <div class="preview"></div>
    </div>
  </script>

<script type="text/template" id="feeds-view-template">
  <div class="data">
    <div class="row">
      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><strong>URL</strong></span>
          <input class="form-control" type="text" placeholder="" value="<%= dataSrc %>"
                 m-data-target="dataSrc">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><strong>Container ID</strong></span>
          <input class="form-control" type="text" placeholder="" value="<%= containerElement %>"
                 m-data-target="containerElement">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><strong>Template ID</strong></span>
          <input class="form-control" type="text" placeholder="" value="<%= templateElement %>"
                 m-data-target="templateElement">
        </div>
      </div>
    </div>
  </div>
</script>

  <script type="text/template" id="media-template">
    <div class="data">
      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><strong>path to file</strong></span>
          <input class="form-control" type="text" placeholder="src" value="<%= src %>"
          m-data-target="src">
        </div>
      </div>
      <div class="preview"></div>
    </div>
  </script>

  <script type="text/template" id="plugin-template">
    <div class="data">
      <!--div class="row">
        <div class="form-group col-lg-6">
          <div class="input-group">
            <span class="input-group-addon"><strong>path to file</strong></span>
            <input class="form-control" type="text" placeholder="src" value="<%= src %>"
            m-data-target="src">
          </div>
        </div>
      </div-->
      <% if(!src) { %>
        <div class="row">
          <div class="form-group col-lg-6">
            <form id="plugin-upload-form" action="" method="post" enctype="multipart/form-data">
              <input type="file" name="plugin-file" id="select-plugin">
              <input type="button" id="upload-plugin" class="btn btn-info" value="Upload Plugin">
            </form>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-6">
            <button type="button" class="btn btn-info" id="create-plugin">Create a new plugin</button>
          </div>
        </div>
      <% } %>
      <div class="row">
        <div class="form-group col-lg-6">
          <div class="input-group">
            <span class="input-group-addon"><strong>callback</strong></span>
            <input class="form-control" type="text" placeholder=
            "callback function for js plugin" value="<%= callback %>"
            m-data-target="callback">
          </div>
        </div>
      </div>
      <% if(src) { %>
        <div class="ace-mouchak" id="plugin-edit"></div>
      <% } %>
      <div class="preview"></div>
    </div>
  </script>

  <script type="text/template" id="text-template">
    <div class="data">
      <div class="edit-type-wrap">
        <div class="row">
          <b> Content </b>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <!-- code vs wysiwyg switch -->
            <div class="btn-group" id="edit-type">
              <button type="button" class="btn btn-default" value="wysiwyg">WYSIWYG</button>
              <button type="button" class="btn btn-default" value="code">Code</button>
            </div>
            <p class="help-block">
              <span class="label label-info">Heads Up!</span>
              <span><small><b> Switch editing mode </b></small></span>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <% if(wysiwyg === true) { %>
        <textarea id="edit" m-data-target="data">
          <%= data %>
        </textarea>
        <% } else { %>
        <div id="code-edit" class="ace-mouchak" m-data-target="data">
          <%= M.escapeHtml(data) %>
        </div>
        <% } %>
      </div>
    </div>
  </script>

  <!-- notification templates -->
  <script type="text/template" id="notif-template">
    <div class="alert alert-<%= type %>">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4> <%= title %> </h4>
      <%= msg %>
    </div>
  </script>

  <script type="text/template" id="uploads-template">
    <div class="page">
      <div><h4> All your uploads </h4></div>
      <div id="uploads-list" class="well">
      </div>
      <hr>
      <div class="row">
        <div> <h4> New Upload </h4> </div>
        <form id="file-upload-form" action="" method="post" enctype="multipart/form-data">
          <input type="file" name="upload-file" id="select-file">
          <input type="button" id="upload-new-file" class="btn btn-sm btn-primary update-btn" value="Upload File">
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
  </script>

  <script type="text/template" id="uploaded-item-template">
    <div class="uploaded-item row">
      <span> &lt;icon here&gt; </span>
      <!--span class="uploaded-item-name"> <%= filename %> </span-->
      <span class="uploaded-item-path">
        <a href="<%= M.UploadsURL() + filename %>">
          <%= M.UploadsURL() + filename %>
        </a>
      </span>
      <span class="pull-right">
        <a href="javascript:void(0);" class="remove" for="<%= filename %>">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </span>
      <span class="clearfix"></span>
    </div>
  </script>

{% endblock %}
