{% extends "base.html" %}
{% block head %}
<style type="text/css">
  .form-wrapper {
    width: 500px;
    margin: 100px auto;
    padding: 30px;
  }
</style>
{% endblock %}

{% block body %}
<div class="container" id="container">
  <div class="form-wrapper well">
    {% if error %}
    <div class="alert alert-danger"><b>Error:</b> {{ error }} </div>
    {% endif %}
    <h3> Mouchak Login </h3>
    <p class="lead"> Please enter admin credentials to login</p>
    <form class="form-horizontal" action="{{ url_for('login') }}" method="POST">
      <div class="form-group">
        <label class="form-label" for="inputUsername">Username</label>
        <div class="controls">
          <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username">
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="inputPassword">Password</label>
        <div class="controls">
          <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="controls">
          <!--label class="checkbox">
          <input type="checkbox"> Remember me
          </label-->
          <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </div>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
{% endblock %}
